<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>i2</servlet-name>
        <servlet-class>i2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>i1</servlet-name>
        <servlet-class>i1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a1</servlet-name>
        <servlet-class>a1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>v1</servlet-name>
        <servlet-class>v1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>v2</servlet-name>
        <servlet-class>v2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloads</servlet-name>
        <servlet-class>downloads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verify</servlet-name>
        <servlet-class>verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>supload</servlet-name>
        <servlet-class>supload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sdownload</servlet-name>
        <servlet-class>sdownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sdownloads</servlet-name>
        <servlet-class>sdownloads</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>i2</servlet-name>
        <url-pattern>/i2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>i1</servlet-name>
        <url-pattern>/i1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a1</servlet-name>
        <url-pattern>/a1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>v1</servlet-name>
        <url-pattern>/v1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>v2</servlet-name>
        <url-pattern>/v2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloads</servlet-name>
        <url-pattern>/downloads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>supload</servlet-name>
        <url-pattern>/supload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sdownload</servlet-name>
        <url-pattern>/sdownload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sdownloads</servlet-name>
        <url-pattern>/sdownloads</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
